body{
	background: rgba(33,33,33,.3);
}


/* Левостороннее меню */


body{

	margin: 0;
	padding: 0;

}

#left-side-links{
	position: fixed;
	left: 0;
	top: 20%;
	
	ul{
		list-style: none;
		width: 32px;
		height: 160px;	
		margin: 0;
		padding: 0;
	}
	
	li {
		display: block;	
		width: 32px;
		height: 32px;
		transition: .5s;
	}
	li:hover{
		
		padding-left: 3px;
		transition: .25s;
		box-shadow: 2px 0 15px 1px black;
		
		
	}
	a{	
		padding: 2px;
	}

}

#vk-link{
		background: url("../img/widget32x32.gif");
		background-position: 0px 960px;
	
		

}

#f-link{
		background-image: url("../img/widget32x32.gif");
		background-position: 32px 7328px;

}

#m-link{
		background-image: url("../img/widget32x32.gif");
		background-position: 32px 4160px;

}


#s-link{
		background-image: url("../img/widget32x32.gif");
		background-position: 32px 7040px;

}


#additional-link{
		background-image: url("../img/widget32x32.gif");
		background-position: 32px 4224px;

}




/* Вопрос */

#vopros{
	position: fixed;
	right: 20px;
	top: 20px;
	width: 60px;
	opacity: .8;
	}&: hover{
		right: 200px;
	}









